html,
body {
  background-color: $darker;
  padding: $s;
  font-family: $font-sans-serif;
  color: $light;
}

@media only screen and (min-width: $vp-xlarge) {
  body {
    margin-right: auto;
    margin-left: auto;
    max-width: $vp-xlarge;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main{
  margin-bottom: $xl;
}

a {
  color: $accent;
  text-decoration: none;
}

input, textarea {
  color: $lighter;
  background-color: $dark;
  border-width: 0;
  padding: $xs;
}